

.beer-item {
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.beer-item-name {
  font-size: 0.7rem;
  text-align: center;
  display: block;
}

.beer-item-btn {
  border: 1px solid #2f2f2f;
  border-radius: 1rem;
}

.beer-item button {
  display: block;
  background: none;
  border: none;
  height: 100%;
  outline: none;
}

.beer-item img {
  height: 90%;
}

.modal {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.modal-close-btn {
  background: #dd0b01;
  padding: 5px;
  border: 1px solid #dd0b01;
  border-radius: 7px;
  width: 54px;
  margin-bottom: 2px;
  font-weight: 700;
}

.modal-body {
  background: #2f2f2f;
  color: white;
  padding: 30px;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
}

.modal-content {
  display: flex;
  justify-content: space-between;
}

.modal-content ul {
  padding: 0;
}

.modal-content li {
  font-size: 0.75rem;
}

.modal-blurb {
  width: 50%;
}

.modal-blurb h2 {
  font-size: 1.3rem;
  margin-top: 0;
}

.modal-img {
  background: white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-img img {
  height: 90%;
}

.modal-submit {
  display: flex;
  justify-content: right;
  justify-content: flex-end;
  margin-top: 30px;
}

.modal-submit button {
  background: white;
  border: 1px solid white;
  border-radius: 11px;
  padding: 10px 19px;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(3px);
}