body {
  overflow: hidden;
}

h1 {
  background: #dd0b01;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

ul {
  margin: 0;
  list-style: none;
}

.main-tabs {
  background: #dd0b01;
  height: 50px;
  display: flex;
  padding: 0;
  padding-left: 1px;
  padding-right: 1px;
}

.main-tabs > .react-tabs__tab--selected {
  background: #2f2f2f;
  border: none;
}

.main-tabs > li {
  padding: 12px 0px;
  color: white;
  flex-grow: 1;
  text-align: center;
  border-radius: 9px 9px 0 0;
  font-size: 1.6rem;
}

.main-tabs > li:before,
.main-tabs > li:after {
  position: absolute;
  bottom: -1px;
  width: 6px;
  height: 6px;
  content: " ";
}

.main-tabs > .react-tabs__tab--selected:before {
  left: -6px;
}

.main-tabs > .react-tabs__tab--selected:after {
  right: -6px;
}

.main-tabs > .react-tabs__tab--selected:after, .main-tabs > .react-tabs__tab--selected:before {
  border: 1px solid #2f2f2f;
}

.main-tabs > .react-tabs__tab--selected:before {
  border-bottom-right-radius: 9px;
  border-width: 0 2px 2px 0;
  box-shadow: 2px 2px 0 #2f2f2f;
}

.main-tabs > .react-tabs__tab--selected:after {
  border-bottom-left-radius: 9px;
  border-width: 0 0 2px 2px;
  box-shadow: 0px 2px 0 #2f2f2f;
}

.child-tabs {
  background: #2f2f2f;
  height: 27px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
}

.child-tabs li {
  padding: 3px 12px;
  color: grey;
  flex-grow: 1;
}

.child-tabs .react-tabs__tab--selected {
  background: none;
  color: white;
  border: none;
}
